<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="  https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" >


    <title>Prutor</title>
  </head>
  <body>
  
  <!-- form defination -->

  <form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Event name</label>
      <input type="text" class="form-control" id="eventname" placeholder="Event name">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Course Name</label>
      <input type="text" class="form-control" id="coursename" placeholder="Course Name">
    </div>
  </div>
 
  <button type="button" id="saveevent" class="btn btn-primary">Save</button>
  <button type="button" id="updateevent"  class="btn btn-primary">Update</button>

</form>


<div class="col-md-12">
  <table id="events" class="display" style="width:100%">
        <thead>
            <tr>
                <th>$</th>
                <th>Event Name</th>
                <th>Course</th>
                <th>Edit</th>
                <th>Delete</th>
               
            </tr>
        </thead>
        <tbody id ="eventsbody">
          
    
        </tbody>
        <tfoot>
            <tr>
                <th>$</th>
                <th>Event Name</th>
                <th>Course</th>
                <th>Edit</th>
                <th>Delete</th>
              
            </tr>
        </tfoot>
    </table>
</div>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js" ></script>
    
  <!-- form defination -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script>
      var updatedid=null;
  jQuery(document).ready(function($) {
   
      getAllData();
     $('#events').DataTable();
   } );
  $('#saveevent').click(function(event){
   
    var eventname=$('#eventname').val();
    var coursename=$('#coursename').val();
    $.post('/add_events',{eventname:eventname,coursename:coursename},function(response){
    console.log(response);
     getAllData();
     });
  });
    $('#updateevent').click(function(event){   
    if(updatedid!=null){
       var eventname=$('#eventname').val();
    var coursename=$('#coursename').val();
    $.post('/update_event',{id:updatedid,eventname:eventname,coursename:coursename},function(response){   
      window.location.reload();
     //getAllData();
     });
    } 
    else{
      alert("please select to edit");
    }
   

  });
  function getAllData(){
    var index=1;
    $.get('/get_events',{},function(events){
      console.log(events);
      $('#eventsbody').empty();
      if(Array.isArray(events)){
        $.each(events,function(key,value){
          var id=value['_id'];
$('#eventsbody').append('<tr><td id="'+value['_id']+'">'+index+'</td><td>'+value['eventname']+'</td><td>'+value['coursename']+'</td><td><button id="'+id+'" class="btn btn-primary" onclick="getAevent(this)">Edit </button></td><td><button id="delete-'+id+'" class="btn btn-danger" onclick="deleteEvent(this)">Delete</button></td></tr>')
    index++;
        });
      }

     });
  }

  function getAevent(ele){
   //  console.log(ele.id);
   // // alert(id);
    var id = ele.id;
    updatedid=id;
   $.get('/get_event',{id:id},function(event){
    
     $('#eventname').val(event[0]['eventname']);
   $('#coursename').val(event[0]['coursename']);
   });
  }
  
  
    function deleteEvent(ele){
      var id = ele.id;
  // alert(id);
   id =id.replace("delete-", "");
     $.post('/delete_event',{id:id},function(response){
        getAllData();
 
     });
  }
  
    </script>
   
  
    </body>
</html>